@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	border: 0;
}

body{
	margin: 0;
}

/*--- Header ---*/

header{
	/*background:#979797;*/
	width: 100%;
	height: 120px;
	margin: 30px auto 0 auto;
}

#headerContentHolder{
	max-width: 1200px;
	margin: 0 auto;
}

#nameTitle{
	color: #3A3A3A;
	padding: 20px 0 0 25px;
	float: left;
}

#nameTitle h1{
	font-family: 'Poppins', sans-serif;
}

#nameTitle h1 a{
	color: #3A3A3A;
	text-decoration:none;
}

#nameTitle h4{
	font-family: 'Poppins', sans-serif;
	font-weight: normal;
	margin-top: -6px;
	font-size: 12px;
}
/*--- Header --- end ---*/

/*--- Page Title ---*/
.pageTitle{
	margin: auto;
	padding-bottom: 12px;
	max-width: 1180px;
	border-bottom: #BBB;
	border-bottom-style: solid;
	border-width: thin;
	width: 98%;
}
.pageTitle h2{
	color: #BBB;
	padding-left: 10px;
	font-family: 'Poppins', sans-serif;
	font-weight: normal;
}
/*--- Page Title --- end ---*/

/*--- Navigation ---*/
nav{
	padding: 30px 18px 0 0;
	float: right;
}

nav ul{
	font-size: 14px;
	text-align: right;
	font-family: 'Open Sans', sans-serif;
}

nav li{
	display:inline;
}

.navItem{
	text-decoration:none;
	color: #3A3A3A; 
	padding: 0 16px 0 10px;
	border-right-style:solid;
	border-right-width: thin;
}

#aboutMe{
	padding-right: 0;
	border-right-style: none;
}

.navItem:hover{
	color: #BBB;
}

#menu_icon img{
	display: none;
}

/*--- Navigation --- end ---*/

/*--- Feature ---*/
.featureHolder{
	max-width: 1200px;
	margin: 30px auto 0 auto;
}

.features{
	width: 33.33%;
	float: left;
	text-align: center;
}

.features i{
	padding: 13% 0 4% 0;
}

.features img{
	max-width: 95%;
	width: auto;
	height: auto;
}

/*--- Feature --- end ---*/

/*--- Footer ---*/
footer{
	/*background: #606060;*/
	width: 100%;
	height: 30px;
	float: left;
	margin-top: 85px;
	text-align: center;
}

footer h4{
	color: #3A3A3A;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
/*--- Footer --- end ---*/

/*--- Start Responsive ---*/
@media screen and (max-width: 768px){
	header{
		height: 100px;
		margin: auto;
	}
	#nameTitle h1{
		font-size: 150%;
	}
	
	#nameTitle h4{
		font-size: 70%;
	}
	
	#menu_icon img{
		display: block;
		width: 50px;
		height: 50px;
		margin-top: -10px;
	}
	
	#navMenu{
		margin: auto 0 auto auto;
		display: none;
		position: absolute;
		left: 0;
		right: 2%;
		top: 70px;
		background: #FFF;
		border: #000;
		border-style: solid;
		border-width: thin;
		opacity: 0.965;
		width: 60%;
	}
	
	#navMenu li{
		font-size: 130%;
		margin: 0;
	}
	
	#navMenu a{
		border-right-style: none;
	}
	
	nav:hover #navMenu{
		display: block;
	}
	
	#navMenu ul{
		display: inline-block;
		width: 100%;
		text-align: center;
		margin: 36px auto 56px 0;
	}
	
	#navMenu a{
		display: inline-block;
		width: 100%;
		text-align: center;
		margin: 12px auto;
		padding-left: 0;
	}
	
	.pageTitle{
		width: 95%;
	}
	
	.pageTitle h2{
		font-size: 120%;
	}
	
	.featureHolder{
		margin-top: 20px;
	}
	
	.features{
		float: left;
		width: 100%;
		margin-bottom: 28px;
	}
	
	.features img{
		width: 100%;
		height: auto;
	}
	
	.features i{
		font-size: 350%;
		padding: 4% 0 1% 0;
	}
	
	footer{
		margin: 30px auto 30px auto;
	}
}
/*--- Start Responsive --- end ---*/