@charset "utf-8";
/* CSS Document */

#header{
	/*background:#979797;*/
	width: 1200px;
	height: 150px;
	margin: auto;
}

#nameTitle{
	color: #3A3A3A;
	padding-top: 20px;
	width: 30%;
	float: left;
}

#nameTitle h1{
	font-family: 'Poppins', sans-serif;
}

#nameTitle h1 a{
	color: #3A3A3A;
	text-decoration:none;
}

#nameTitle h4{
	font-family: 'Poppins', sans-serif;
	font-weight: normal;
	margin-top: -20px;
	font-size: 12px;
}

#navigation{
	padding-top: 36px;
	width: 70%;
	float: left;
}

#navigation ul{
	text-align: right;
	font-family: 'Open Sans', sans-serif;
	
}

#navigation li{
	display:inline;
	margin: 0 0 0 50px;
}

#navigation li a{
	text-decoration:none;
}

#features{
	width: 1200px;
	height: 400px;
	margin: 20px auto auto auto;
}

#features div{
	width: 33.33%;
	height: 100%;
	float: left;
}

#features div a{
	width: 384px;
	height: 360px;
	float: left;
}

#feature_0{
	margin-right: 4%;
}

#feature_1{
	margin-left: 2%;
}

#feature_2{
	margin-left: 4%;
}

#footer{
	/*background: #606060;*/
	width: 1200px;
	height: 100px;
	margin: auto;
	text-align: center;
}

#footer h4{
	color: #333333;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}