@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	border: 0;
}

.paragraphSpace{
	margin: 15% auto;
}

.paragraphSpace div{
	margin: 0 auto;
}

/*--- Start Parallax here-----*/

.parallax{
	background: url(Images/Gordon.jpg) no-repeat fixed;
	background-size: cover;
	background-position: center;
}

.parallax2{
	background:  url("https://lonelyplanetimages.imgix.net/mastheads/GettyImages-538096543_medium.jpg?sharp=10&vib=20&w=1200") fixed no-repeat;
	background-size: cover;
	background-position:  center;
}

.parallax-inner{
	padding-top: 18%;
	padding-bottom: 18%;
}

/*--- End Parallax here-----*/