@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	border: 0;
}

.titlePage{
	margin: auto;
	height: 100vh;
}

.titlePage div{
	margin: auto;
	padding-top: 20%;
}

.paragraphSpace{
	margin: 10% auto;
}

.paragraphSpace div{
	margin: auto;
}

/*--- Start Parallax here-----*/

.parallax{
	background: url(Images/Gordon.jpg) no-repeat fixed;
	background-size: cover;
	background-position: center;
}

.parallax2{
	background:  url(Images/WorkStation.jpg) fixed no-repeat;
	background-size: cover;
	background-position:  center;
}

.parallax-inner{
	padding-top: 20%;
	padding-bottom: 20%;
}

/*--- End Parallax here-----*/