@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	border: 0;
}

.titlePage{
	margin: auto;
	height: 100vh;
}

.titlePage div{
	margin: auto;
	padding-top: 20%;
}

.paragraphSpace{
	margin: 38px auto 80px auto;
}

.paragraphSpace div{
	margin: auto;
	width: 1000px;
}

.spliteLine{
	border-bottom: solid thin #333333;
}

.sectionContent{
	padding-top: 48px;
	text-align: center;
	font-size: 24px;
	font-family: 'Source Sans Pro', sans-serif;
	padding-bottom: 20px;
}

.features{
	width: 25%;
	float: left;
	text-align: center;
	padding-bottom: 20px;
}

.features i{
	padding: 13% 0 4% 0;
}

.features img{
	max-width: 95%;
	width: auto;
	height: auto;
}

/*--- Start Parallax here-----*/

.parallax{
	background: url(Images/Gordon.jpg) no-repeat fixed;
	background-size: cover;
	background-position: center;
}

.parallax2{
	background:  url(Images/WorkStation.jpg) fixed no-repeat;
	background-size: cover;
	background-position:  center;
}

.parallax-inner{
	padding-top: 20%;
	padding-bottom: 20%;
}

/*--- End Parallax here-----*/